.reporter-description {
    line-height: 17px;
    letter-spacing: -0.015em;
    font-size: 20px;
}

.list-group-item {
    padding-top: 3% !important;
}

.id-header {
    line-height: 12px;
    letter-spacing: -0.015em;
    font-size: 20px;
}

.content-col {
    padding-left: 3%;
}

.report-icon {
    color: #34FEA5;
}

.scan-link {
    color: black;
}