.coin-id {
    font-size: 21px;
}

.list-group-item {
    border: none;
    border-bottom: 1px #e9e4e4 solid;
}

.coin-icon {
    font-size: 26px;
    color: #34FEA5;
}

.coin-name {
    font-size: 25px !important;
    color: black !important;
    font-weight: 800;
    text-decoration: none !important;
    line-height: 20px !important;
}

#feeds {
    width: 100%;
    padding-left: 0% !important;
    border-radius: 0px;
}

.card {
    border: none;
    border-radius: 0px;
    box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.07), 0px 29.3625px 34.875px rgba(0, 0, 0, 0.04725), 0px 11.6px 13px rgba(0, 0, 0, 0.035), 0px 2.5375px 4.625px rgba(0, 0, 0, 0.02275);
}